
Fastapi/
.venv
.vscode
test_data.ipynb
sales.csv
.env

*.db

poetry.lock
pyproject.toml

synthetic_credit_dataset.csv
extras/

sales2.csv
sales3.csv
sales4.csv
test1.py
testcases

run.sh

streamlit_seaborn_dashboard.py
app_copy.py